In [ ]:
# Create an object with a value of 2
a=2

# Check the data type
type(a)

int

In [ ]:
# Create an object with a value of 1086J
b=1086J

# Check the data type
type(b)

complex

In [ ]:
# Create an object with a value of 3.14567
c=3.14567

# Check the data type
type(c)

float

In [ ]:
# Printing your name
My_Name = "Hemalni"

# Check the results of the My_Name variable
My_Name

'Hemalni'

In [ ]:
# Check the data type of the My_Name variable
type(My_Name)

str

In [ ]:
# Use the input statement to ask a user to enter their name
UserName = input("What is your name? ")

# Use a print statement to check your input. Add a greeting to your statement.
print("Hello, ", UserName)

# Now use a print statement to tell the user the data type.
print("Your name is", type(UserName))

What is your name? Hemalni
Hello,  Hemalni
Your name is <class 'str'>

In [ ]:
# Let's check how many characters does your name contain.
len(UserName)

7

In [ ]:
My_Name = "Hemalni"

# Let's see if My_Name is all Caps or not.
My_Name.isupper()

False

In [ ]:
# Let's convert My_Name to all caps.
My_Name.upper()

# Call the variable using the variable name.
My_Name

'HEMALNI'

In [ ]:
# Check the uppercase again,
UserName.isupper()

True

In [ ]:
# Write a sentence and store it into an object.
new_sentence = "this is my sentence"

# Use a print statement to view your new_sentence
print(new_sentence)

# Use the .upper() method in a print statement to print the upper case sentence
print(new_sentence.upper())

# Use the .capitalize() method to print the sentence with the first word capitalized.
print(new_sentence.capitalize())

# Use the .title() method to print the sentence with the first letter of each word capitalized.
print(new_sentence.title())

this is my sentence
THIS IS MY SENTENCE
This is my sentence
This Is My Sentence

In [ ]:
# Check the data type of the object you just created.
type(new_sentence)

str

In [ ]:
# Check if it is all caps or not.
new_sentence.isupper()

False

In [ ]:
# Challenge - Check if it is all lower case or not.
new_sentence.islower()

True

In [ ]:
# Challenge - Convert your object into all caps.
new_sentence.upper()

'THIS IS MY SENTENCE'

In [36]:
# Challenge - Convert your object into all lower case.
new_sentence.lower()

'this is my sentence'

In [37]:
# Create two variables, one with a value of True, one with a value of False
a = True
b = False

In [41]:
# Check the data type of your new variables
print(type(a),type(b))

<class 'bool'> <class 'bool'>

In [42]:
# Create an object containing an integer.
c = 2

In [43]:
# Check the data type of your new object
type(c)

int

In [44]:
# You want to use the value 1 as text. So let's convert it.
c = str(c)

In [45]:
# Check the data type of your new object again.
type(c)

str

In [46]:
# Exercise for you. Store the number 123456 as string.
d = 123456
d = str(d)

# Check the data type
type(d)

str

In [47]:
# Let's do the opposite now.
# Create a variable and assign a numeric value as a string
e = "4"

# Check the data type of your variable
type(e)

str

In [48]:
# Let's learn to convert string to integer now.
e = int(e)

# Check the data type
type(e)

int